<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
<div class="container">

<div data-controller="barchart">
  <canvas id="bar-chart" data-barchart-target="myChart" width="500" height="150"></canvas>
</div>
</div>